<h1 style="text-align:center"> Desafio clase 10 con ejs </h1>
<h2 style="text-align:center"> Ingrese nuevo producto </h2>
<div>
    <form id="productsForm" style="display:flex;flex-direction:column;width:50%; margin:auto">
        <input style="margin:10px" type="text" placeholder="Title" name="title">
        <input style="margin:10px" type="text" placeholder="Price" name="price">
        <input style="margin:10px" type="text" placeholder="Thumbnail" name="thumbnail">
        <input style="margin:10px;width:100px" type="submit">
    </form>
</div>
<script src="formData.js"></script>